.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.input-container .pre-input {
  position: absolute;
  top: 50px;
  left: 5px;
}
